<!-- Navbar Light -->

<nav class="navbar navbar-expand-lg  blur border-radius-xl top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
<div class="container-fluid px-0">
<a class="navbar-brand font-weight-bolder ms-sm-3  d-none d-md-block" href="../" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
政务新媒体互动内容分析及摘要生成系统
</a>
<a class="navbar-brand font-weight-bolder ms-sm-3  d-block d-md-none" href="../" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
政务互动内容分析及摘要生成系统
</a>
<button class="navbar-toggler shadow-none ms-md-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon mt-2">
<span class="navbar-toggler-bar bar1"></span>
<span class="navbar-toggler-bar bar2"></span>
<span class="navbar-toggler-bar bar3"></span>
</span>
</button>
<div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
<ul class="navbar-nav navbar-nav-hover ms-auto">
<li class="nav-item mx-2">
<a role="button" href="../" class="nav-link ps-2 d-flex cursor-pointer align-items-center">
<i class="material-icons opacity-6 me-2 text-md">home</i>
主页
</a>

</li>
<li class="nav-item mx-2">
<a role="button" href="/data/" class="nav-link ps-2 d-flex cursor-pointer align-items-center">
<i class="material-icons opacity-6 me-2 text-md">dashboard</i>
数据分析
</a>
</li>
<li class="nav-item mx-2">
<a role="button" href="/sum/" class="nav-link ps-2 d-flex cursor-pointer align-items-center">
<i class="material-icons opacity-6 me-2 text-md">table_chart</i>
摘要生成
</a>
</li>
</ul>
</div>
</div>
</nav>

