{% extends "layouts/base.html" %}

{% block title %} 数据大屏{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% load static %}{% block content %}

    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">message</i>
            </div>
            <p class="card-category">留言量</p>
            <h3 class="card-title"><div class="list-num list_num1"><span class="text-info">{{ msgdata.shape.0 }} </span><small>条</small></div>

            </h3>
          </div>
{#          <div class="card-footer">#}
{#            <div class="stats">#}
{#              <i class="material-icons">info_outline</i>#}
{#              <a href="#pablo">Get More Space...</a>#}
{#            </div>#}
{#          </div>#}
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">forum</i>
            </div>
            <p class="card-category">回复量</p>
            <h3 class="card-title"><div class="list-num list_num2"><span class="text-success">{{ rpldata.shape.0 }}</span>
            <small>条</small></div>
            </h3>
          </div>
{#          <div class="card-footer">#}
{#            <div class="stats">#}
{#              <i class="material-icons">date_range</i> Last 24 Hours#}
{#            </div>#}
{#          </div>#}
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">percent</i>
            </div>
            <p class="card-category">回复率</p>
            <h3 class="card-title"><div class="list-num list_num3"><span class="text-warning">{{ rate }}</span>
            <small>%</small></div>
            </h3>
          </div>
{#          <div class="card-footer">#}
{#            <div class="stats">#}
{#              <i class="material-icons">local_offer</i> Tracked from Github#}
{#            </div>#}
{#          </div>#}
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">comments_disabled</i>
            </div>
            <p class="card-category">待回复量</p>
            <h3 class="card-title"><div class="list-num list_num4"><span class="text-danger">{{ torpl.shape.0 }}</span>
            <small>条</small></div>
            </h3>
          </div>
{#          <div class="card-footer">#}
{#            <div class="stats">#}
{#              <i class="material-icons">update</i> Just Updated#}
{#            </div>#}
{#          </div>#}
        </div>
      </div>
    </div>
    <div class="row">
    <div class="col-md-12">
    <div class="card card-chart">
        <div class="card-header card-header-rose">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href="" onclick="myChart.setOption(mapOption,true)" data-toggle="tab">
                      <i class="material-icons">map</i> 留言数据地图
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="" onclick="myChart.setOption(barOption,true)" data-toggle="tab">
                      <i class="material-icons">insert_chart</i> 留言数据柱状图
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
{#            <p class="card-category">#}
{#              <span class="text-success"><i class="fa fa-long-arrow-up"></i>{{ obj }}</span> 是留言量最高的区域</p>#}
        </div>
        <div class="card-body">
            <div id="container" style="height: 500%"></div>
          </div>
{#          <div class="card-footer">#}
{#            <div class="stats">#}
{#              <i class="material-icons">access_time</i> {{ obj }}回复积极性最高#}
{#            </div>#}
{#          </div>#}
    </div>
    </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card card-chart">
          <div class="card-header card-header-success">
              <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">

                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href="#msgNum" onclick="md.initDashboardPageCharts()" data-toggle="tab">
                      <i class="material-icons">chat_bubble</i> 留言量
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#rplNum" onclick="md.initDashboardPageCharts()" data-toggle="tab">
                      <i class="material-icons">forum</i> 回复量
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#timeMean" onclick="md.initDashboardPageCharts()" data-toggle="tab">
                      <i class="material-icons">schedule</i> 回复时间差
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tab-content">
                  <div class="tab-pane active" id="msgNum">
                      <div class="ct-chart" id="dailySalesChart" style="height: 300%"></div>
                  </div>
                  <div class="tab-pane" id="rplNum">
                      <div class="ct-chart" id="rplNumChart" style="height: 300%"></div>
                  </div>
                <div class="tab-pane" id="timeMean">
                      <div class="ct-chart" id="timeMeanChart" style="height: 300%"></div>
                  </div>
              </div>
          </div>
          <div class="card-body">

            <h4 class="card-title">留言量变化趋势</h4>
            <p class="card-category"><div class="list-num maxmonth"><span class="text-rose" id="mark1"></span>留言量最高的月份是<span class="text-success" id="maxmonth"> ? </span>月</div></p>
          </div>
{#          <div class="card-footer">#}
{#            <div class="stats">#}
{#              <i class="material-icons">access_time</i> updated 4 minutes ago#}
{#            </div>#}
{#          </div>#}
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-chart">
          <div class="card-header card-header-warning">
            <div class="ct-chart" id="websiteViewsChart" style="height: 300%"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">各领域留言量</h4>
            <p class="card-category"><div class="list-num maxdomain"><span class="text-rose" id="mark2"></span>留言量最高的领域是<span class="text-rose" id="maxdomain"> ? </span></div></p>
          </div>
{#          <div class="card-footer">#}
{#            <div class="stats">#}
{#              <i class="material-icons">access_time</i> campaign sent 2 days ago#}
{#            </div>#}
{#          </div>#}
        </div>
      </div>

    </div>
    <div class="row">
    <div class="col-md-4">
        <div class="card card-chart">
            <div class="card-header card-header-success">
            <h4 class="card-title">留言类型饼图</h4>
          </div>
          <div class="card-body">

              <div id="piechart1" style="height: 300%"></div>
          </div>
{#          <div class="card-footer">#}
{#            <div class="stats">#}
{#              <i class="material-icons">access_time</i><span class="text-rose" id="mark3"></span>占比最高的留言类型是<span class="text-rose" id="maxtype"> ? </span>#}
{#            </div>#}
{#          </div>#}
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-chart">
            <div class="card-header card-header-success">
            <h4 class="card-title">留言情感倾向饼图</h4>
          </div>
          <div class="card-body">

              <div id="piechart2" style="height: 300%"></div>
          </div>
{#          <div class="card-footer">#}
{#            <div class="stats">#}
{#              <i class="material-icons">access_time</i> campaign sent 2 days ago#}
{#            </div>#}
{#          </div>#}
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-chart">
            <div class="card-header card-header-success">
            <h4 class="card-title">留言话语模式饼图</h4>
          </div>
          <div class="card-body">

              <div id="piechart3" style="height: 300%"></div>
          </div>
{#          <div class="card-footer">#}
{#            <div class="stats">#}
{#              <i class="material-icons">access_time</i> campaign sent 2 days ago#}
{#            </div>#}
{#          </div>#}
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-4">
        <div class="card card-chart">
            <div class="card-header card-header-success">
            <h4 class="card-title">回复态度饼图</h4>
          </div>
          <div class="card-body">

              <div id="piechart4" style="height: 300%"></div>
          </div>
{#          <div class="card-footer">#}
{#            <div class="stats">#}
{#              <i class="material-icons">access_time</i> campaign sent 2 days ago#}
{#            </div>#}
{#          </div>#}
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-chart">
            <div class="card-header card-header-success">
            <h4 class="card-title">回复积极性饼图</h4>
          </div>
          <div class="card-body">

              <div id="piechart5" style="height: 300%"></div>
          </div>
{#          <div class="card-footer">#}
{#            <div class="stats">#}
{#              <i class="material-icons">access_time</i> campaign sent 2 days ago#}
{#            </div>#}
{#          </div>#}
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-chart">
            <div class="card-header card-header-success">
            <h4 class="card-title">回复话语模式饼图</h4>
          </div>
          <div class="card-body">

              <div id="piechart6" style="height: 300%"></div>
          </div>
{#          <div class="card-footer">#}
{#            <div class="stats">#}
{#              <i class="material-icons">access_time</i> campaign sent 2 days ago#}
{#            </div>#}
{#          </div>#}
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-6">
        <div class="card card-chart">
            <div class="card-header card-header-success">
            <h4 class="card-title">各月留言分布</h4>
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href="" onclick="legendOption1 = legends.senti;myBarChart1.clear();updateOption();" data-toggle="tab">
                      <i class="material-icons">sentiment_satisfied_alt</i> 情感倾向
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="" onclick="legendOption1 = legends.type;myBarChart1.clear();updateOption();" data-toggle="tab">
                      <i class="material-icons">category</i> 留言类型
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                    <li class="nav-item">
                    <a class="nav-link" href="" onclick="legendOption1 = legends.msg_mods;myBarChart1.clear();updateOption();" data-toggle="tab">
                      <i class="material-icons">format_list_numbered</i> 留言话语模式
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">

              <div id="barchart1" style="height: 300%"></div>
          </div>
{#          <div class="card-footer">#}
{#            <div class="stats">#}
{#              <i class="material-icons">access_time</i><span class="text-rose" id="mark4"></span>占比最高的留言类型是<span class="text-rose" id="maxtype"> ? </span>#}
{#            </div>#}
{#          </div>#}
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-chart">
            <div class="card-header card-header-success">
            <h4 class="card-title">各领域留言分布</h4>
                <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href="" onclick="legendOption2 = legends.senti;myBarChart2.clear();updateOption();" data-toggle="tab">
                      <i class="material-icons">sentiment_satisfied_alt</i> 情感倾向
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="" onclick="legendOption2 = legends.type;myBarChart2.clear();updateOption();" data-toggle="tab">
                      <i class="material-icons">category</i> 留言类型
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                    <li class="nav-item">
                    <a class="nav-link" href="" onclick="legendOption2 = legends.msg_mods;myBarChart2.clear();updateOption();" data-toggle="tab">
                      <i class="material-icons">format_list_numbered</i> 留言话语模式
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">

              <div id="barchart2" style="height: 300%"></div>
          </div>
{#          <div class="card-footer">#}
{#            <div class="stats">#}
{#              <i class="material-icons">access_time</i> campaign sent 2 days ago#}
{#            </div>#}
{#          </div>#}
        </div>
    </div>
    </div>
    <div class="row">
{#      <div class="col-lg-12 col-md-12">#}
{#        <div class="card">#}
{#          <div class="card-header card-header-tabs card-header-primary">#}
{#            <div class="nav-tabs-navigation">#}
{#              <div class="nav-tabs-wrapper">#}
{#                <span class="nav-tabs-title">Tasks:</span>#}
{#                <ul class="nav nav-tabs" data-tabs="tabs">#}
{#                  <li class="nav-item">#}
{#                    <a class="nav-link active" href="#profile" data-toggle="tab">#}
{#                      <i class="material-icons">bug_report</i> Bugs#}
{#                      <div class="ripple-container"></div>#}
{#                    </a>#}
{#                  </li>#}
{#                  <li class="nav-item">#}
{#                    <a class="nav-link" href="#messages" data-toggle="tab">#}
{#                      <i class="material-icons">code</i> Website#}
{#                      <div class="ripple-container"></div>#}
{#                    </a>#}
{#                  </li>#}
{#                  <li class="nav-item">#}
{#                    <a class="nav-link" href="#settings" data-toggle="tab">#}
{#                      <i class="material-icons">cloud</i> Server#}
{#                      <div class="ripple-container"></div>#}
{#                    </a>#}
{#                  </li>#}
{#                </ul>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="card-body">#}
{#            <div class="tab-content">#}
{#              <div class="tab-pane active" id="profile">#}
{#                <table class="table">#}
{#                  <tbody>#}
{#                    <tr>#}
{#                      <td>#}
{#                        <div class="form-check">#}
{#                          <label class="form-check-label">#}
{#                            <input class="form-check-input" type="checkbox" value="" checked>#}
{#                            <span class="form-check-sign">#}
{#                              <span class="check"></span>#}
{#                            </span>#}
{#                          </label>#}
{#                        </div>#}
{#                      </td>#}
{#                        <form id="contact-form1" method="post" action="{% url 'test' %}">#}
{#                            {% csrf_token %}#}
{#                        <td><p id="p1"></p></td>#}
{#                      <td class="td-actions text-right">#}
{#                        <button type="submit" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">#}
{#                          <i class="material-icons">edit</i>#}
{#                        </button>#}
{#                          </form>#}
{#                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">#}
{#                          <i class="material-icons">close</i>#}
{#                        </button>#}
{#                      </td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                      <td>#}
{#                        <div class="form-check">#}
{#                          <label class="form-check-label">#}
{#                            <input class="form-check-input" type="checkbox" value="">#}
{#                            <span class="form-check-sign">#}
{#                              <span class="check"></span>#}
{#                            </span>#}
{#                          </label>#}
{#                        </div>#}
{#                      </td>#}
{#                      <td><p id="p2"></p> </td>#}
{#                      <td class="td-actions text-right">#}
{#                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">#}
{#                          <i class="material-icons">edit</i>#}
{#                        </button>#}
{#                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">#}
{#                          <i class="material-icons">close</i>#}
{#                        </button>#}
{#                      </td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                      <td>#}
{#                        <div class="form-check">#}
{#                          <label class="form-check-label">#}
{#                            <input class="form-check-input" type="checkbox" value="">#}
{#                            <span class="form-check-sign">#}
{#                              <span class="check"></span>#}
{#                            </span>#}
{#                          </label>#}
{#                        </div>#}
{#                      </td>#}
{#                      <td><p id="p3"></p> </td>#}
{#                      <td class="td-actions text-right">#}
{#                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">#}
{#                          <i class="material-icons">edit</i>#}
{#                        </button>#}
{#                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">#}
{#                          <i class="material-icons">close</i>#}
{#                        </button>#}
{#                      </td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                      <td>#}
{#                        <div class="form-check">#}
{#                          <label class="form-check-label">#}
{#                            <input class="form-check-input" type="checkbox" value="" checked>#}
{#                            <span class="form-check-sign">#}
{#                              <span class="check"></span>#}
{#                            </span>#}
{#                          </label>#}
{#                        </div>#}
{#                      </td>#}
{#                       <td><p id="p4"></p> </td>#}
{#                      <td class="td-actions text-right">#}
{#                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">#}
{#                          <i class="material-icons">edit</i>#}
{#                        </button>#}
{#                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">#}
{#                          <i class="material-icons">close</i>#}
{#                        </button>#}
{#                      </td>#}
{#                    </tr>#}
{#                  </tbody>#}
{#                </table>#}
{#              </div>#}
{#              <div class="tab-pane" id="messages">#}
{#                <table class="table">#}
{#                  <tbody>#}
{#                    <tr>#}
{#                      <td>#}
{#                        <div class="form-check">#}
{#                          <label class="form-check-label">#}
{#                            <input class="form-check-input" type="checkbox" value="" checked>#}
{#                            <span class="form-check-sign">#}
{#                              <span class="check"></span>#}
{#                            </span>#}
{#                          </label>#}
{#                        </div>#}
{#                      </td>#}
{#                      <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit#}
{#                      </td>#}
{#                      <td class="td-actions text-right">#}
{#                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">#}
{#                          <i class="material-icons">edit</i>#}
{#                        </button>#}
{#                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">#}
{#                          <i class="material-icons">close</i>#}
{#                        </button>#}
{#                      </td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                      <td>#}
{#                        <div class="form-check">#}
{#                          <label class="form-check-label">#}
{#                            <input class="form-check-input" type="checkbox" value="">#}
{#                            <span class="form-check-sign">#}
{#                              <span class="check"></span>#}
{#                            </span>#}
{#                          </label>#}
{#                        </div>#}
{#                      </td>#}
{#                      <td>Sign contract for "What are conference organizers afraid of?"</td>#}
{#                      <td class="td-actions text-right">#}
{#                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">#}
{#                          <i class="material-icons">edit</i>#}
{#                        </button>#}
{#                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">#}
{#                          <i class="material-icons">close</i>#}
{#                        </button>#}
{#                      </td>#}
{#                    </tr>#}
{#                  </tbody>#}
{#                </table>#}
{#              </div>#}
{#              <div class="tab-pane" id="settings">#}
{#                <table class="table">#}
{#                  <tbody>#}
{#                    <tr>#}
{#                      <td>#}
{#                        <div class="form-check">#}
{#                          <label class="form-check-label">#}
{#                            <input class="form-check-input" type="checkbox" value="">#}
{#                            <span class="form-check-sign">#}
{#                              <span class="check"></span>#}
{#                            </span>#}
{#                          </label>#}
{#                        </div>#}
{#                      </td>#}
{#                      <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>#}
{#                      <td class="td-actions text-right">#}
{#                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">#}
{#                          <i class="material-icons">edit</i>#}
{#                        </button>#}
{#                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">#}
{#                          <i class="material-icons">close</i>#}
{#                        </button>#}
{#                      </td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                      <td>#}
{#                        <div class="form-check">#}
{#                          <label class="form-check-label">#}
{#                            <input class="form-check-input" type="checkbox" value="" checked>#}
{#                            <span class="form-check-sign">#}
{#                              <span class="check"></span>#}
{#                            </span>#}
{#                          </label>#}
{#                        </div>#}
{#                      </td>#}
{#                      <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit#}
{#                      </td>#}
{#                      <td class="td-actions text-right">#}
{#                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">#}
{#                          <i class="material-icons">edit</i>#}
{#                        </button>#}
{#                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">#}
{#                          <i class="material-icons">close</i>#}
{#                        </button>#}
{#                      </td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                      <td>#}
{#                        <div class="form-check">#}
{#                          <label class="form-check-label">#}
{#                            <input class="form-check-input" type="checkbox" value="" checked>#}
{#                            <span class="form-check-sign">#}
{#                              <span class="check"></span>#}
{#                            </span>#}
{#                          </label>#}
{#                        </div>#}
{#                      </td>#}
{#                      <td>Sign contract for "What are conference organizers afraid of?"</td>#}
{#                      <td class="td-actions text-right">#}
{#                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">#}
{#                          <i class="material-icons">edit</i>#}
{#                        </button>#}
{#                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">#}
{#                          <i class="material-icons">close</i>#}
{#                        </button>#}
{#                      </td>#}
{#                    </tr>#}
{#                  </tbody>#}
{#                </table>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-warning">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">数据:</span>
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href="#msg" data-toggle="tab">
                      <i class="material-icons">message</i> 留言
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#rpl" data-toggle="tab">
                      <i class="material-icons">comment</i> 回复
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body table-responsive">
            <div class="tab-content">
                <div class="tab-pane active" id="msg">
                    <table class="table table-hover">
              <thead class="text-dark">
                <th>标题</th>
                <th>类型</th>
                <th>领域</th>
                <th>状态</th>
                <th>区域</th>
              </thead>
              <tbody>
                <tr>
                  <td><p id="t1"></p></td>
                  <td><p id="ty1"></p></td>
                  <td><p id="d1"></p></td>
                  <td><p id="s1"></p></td>
                  <td><p id="ti1"></p></td>
                </tr>
                <tr>
                  <td><p id="t2"></p></td>
                  <td><p id="ty2"></p></td>
                  <td><p id="d2"></p></td>
                  <td><p id="s2"></p></td>
                  <td><p id="ti2"></p></td>
                </tr>
                <tr>
                  <td><p id="t3"></p></td>
                  <td><p id="ty3"></p></td>
                  <td><p id="d3"></p></td>
                  <td><p id="s3"></p></td>
                  <td><p id="ti3"></p></td>
                </tr>
                <tr>
                  <td><p id="t4"></p></td>
                  <td><p id="ty4"></p></td>
                  <td><p id="d4"></p></td>
                  <td><p id="s4"></p></td>
                  <td><p id="ti4"></p></td>
                </tr>
              </tbody>
            </table>
                </div>
                <div class="tab-pane" id="rpl">
                    <table class="table table-hover">
              <thead class="text-dark">
                <th>回复内容</th>
                <th>回复组织</th>
                <th>回复态度</th>
                <th>区域</th>
              </thead>
              <tbody>
                <tr>
                  <td><p id="c1"></p></td>
                  <td><p id="o1"></p></td>
                  <td><p id="a1"></p></td>
                  <td><p id="rti1"></p></td>
                </tr>
                <tr>
                  <td><p id="c2"></p></td>
                  <td><p id="o2"></p></td>
                  <td><p id="a2"></p></td>
                  <td><p id="rti2"></p></td>
                </tr>
                <tr>
                  <td><p id="c3"></p></td>
                  <td><p id="o3"></p></td>
                  <td><p id="a3"></p></td>
                  <td><p id="rti3"></p></td>
                </tr>
                <tr>
                  <td><p id="c4"></p></td>
                  <td><p id="o4"></p></td>
                  <td><p id="a4"></p></td>
                  <td><time id="rti4"></time></td>
                </tr>
              </tbody>
            </table>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/jquery"></script>
  <script type="text/javascript" src="{% static "/assets/js/echarts.min.js" %}"></script>
  <script src="{% static "/assets/js/map.js" %}"></script>
<script src="{% static "assets/js/material-dashboard.js" %}"></script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>
<script src="{% static "assets/js/piechart.js" %}"></script>
{% endblock javascripts %}
